body {
  background: #6d47d3;
  color: #fff;
  font-family: "Raleway", sans-serif;
  text-align: center;
  transition: background 0.2s;
  will-change: background;
}

h1,
h2,
h3,
h4,
p {
  font-weight: 400;
  margin: 0 auto 10px;
}

h1 {
  font-size: 54px;
}

h2 {
  font-size: 40px;
}

p {
  font-size: 20px;
  line-height: 1.6;
  margin: 0 auto 20px;
}

a {
  color: #001d49;
  display: block;
  font-weight: 700;
  height: 40px;
  margin: 0 20px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  transition: 0.2s;
  width: 100px;
}
a::before {
  border-top: 2px solid;
  box-sizing: border-box;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition: transform 0.2s;
  width: 100%;
}
a:last-child {
  margin-right: 0;
}
a:hover::before {
  transform: translate3d(0, 0, 0);
}
a:hover i[class*=fa] {
  transform: translate3d(0, -100%, 0);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
a:hover span {
  transform: translate3d(0, -100%, 0);
}
a i[class*=fa] {
  align-items: center;
  display: flex;
  font-size: 20px;
  height: 100%;
  justify-content: center;
  transform: translate3d(0, 0, 0);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition: transform 0.2s;
  width: 100%;
}
a span {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition: transform 0.2s;
}

@media (min-width: 768px) {
  nav {
    top: 0;
  }
}
nav {
  background: #fff;
  height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
nav.headroom {
  transition: all 0.4s ease-in-out;
}
nav.headroom.headroom--unpinned {
  top: -100px;
}
nav.headroom.headroom--not-bottom {
  background: rgba(255, 255, 255, 0.9);
}
nav .container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin: auto;
  max-width: 1000px;
  padding: 0 10px;
}
nav img {
  border-radius: 50%;
}
nav .nav-items {
  display: flex;
}

.hero {
  align-items: flex-end;
  background-position: right 15% center;
  background: url(images/hero.jpg) no-repeat;
  display: flex;
  height: 600px;
  justify-content: center;
  position: relative;
}
.hero::before {
  background: rgba(0, 0, 0, 0.6);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.hero .container {
  position: relative;
  z-index: 1;
}
.hero img {
  height: 209px;
  margin-bottom: 20px;
  width: 180px;
}
.hero .subtitle {
  font-size: 30px;
}

@media (min-width: 768px) {
  .hero {
    align-items: center;
    background-attachment: fixed;
    background-position: right 18% center;
    height: 800px;
  }
}
.projects .project {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 80px 10px;
}
.projects .project:nth-child(1) {
  color: #fff;
}
.projects .project:nth-child(1) a {
  background: #000;
  color: #fff;
}
.projects .project:nth-child(2) {
  color: #000;
}
.projects .project:nth-child(2) a {
  background: #a8d15e;
  color: #000;
}
.projects .project:nth-child(3) {
  color: #fff;
}
.projects .project:nth-child(3) a {
  background: #f8b44d;
  color: #000;
}
.projects .project:nth-child(4) {
  color: #000;
}
.projects .project:nth-child(4) a {
  background: #abc5f8;
  color: #000;
}
.projects .project .container {
  height: auto;
}
.projects .project img {
  border-radius: 6px;
  box-shadow: 0 0 100px -20px #000;
  display: block;
  margin: 40px auto;
  max-width: 672px;
  width: 100%;
}
.projects .project a {
  border-radius: 5px;
  display: table;
  margin: auto;
}
.projects .description {
  max-width: 600px;
}

.connect {
  background: #fff;
}
.connect .container {
  padding: 40px 0;
}
.connect .connect-items {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.connect a {
  margin: 0 20px;
}
.connect .copyright {
  color: #000;
  margin: 0;
}/*# sourceMappingURL=style.css.map */