body {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: #fff;
  background: #fdb812;
  transition: background 0.2s;
  will-change: background;
}
h1,
h2,
h3,
h4,
p {
  font-weight: 400;
  margin: 0 auto 10px;
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 40px;
}
p {
  margin: 0 auto 20px;
}
a {
  display: block;
  font-weight: 700;
  text-decoration: none;
  color: #001d49;
  transition: 0.2s;
}
@media (min-width: 768px) {
  nav {
    top: 0;
  }
}
nav {
  width: 100%;
  background: #fff;
  position: fixed;
  bottom: 0;
}
nav .container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: auto;
}
@media (min-width: 768px) {
  nav {
    height: 100px;
    top: 0;
  }
  nav .container {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
  nav img {
    border-radius: 50%;
  }
  nav .nav-items {
    display: flex;
  }
  nav a {
    width: 100px;
    height: 40px;
    overflow: hidden;
    margin: 0 20px;
    position: relative;
  }
  nav a::before {
    content: '';
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-top: 2px solid;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.3s;
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
  }
  nav a:last-child {
    margin-right: 0;
  }
  nav a:hover::before {
    transform: translate3d(0, 0, 0);
  }
  nav a:hover span {
    transform: translate3d(0, -100%, 0);
  }
  nav a span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: transform 0.3s;
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  }
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  background: purple;
}
.hero img {
  width: 180px;
  height: 209px;
}
.hero .subtitle {
  font-size: 30px;
}
.projects .project {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 10px;
}
.projects .project:nth-child(1) {
  color: #000;
}
.projects .project:nth-child(1) a {
  color: #000;
  background: #a8d15e;
}
.projects .project:nth-child(2) {
  color: #fff;
}
.projects .project:nth-child(2) a {
  color: #000;
  background: #f8b44d;
}
.projects .project:nth-child(3) {
  color: #000;
}
.projects .project:nth-child(3) a {
  color: #000;
  background: #abc5f8;
}
.projects .project:nth-child(4) {
  color: #fff;
}
.projects .project:nth-child(4) a {
  color: #fff;
  background: #167f39;
}
.projects .project .container {
  height: auto;
}
.projects .project img {
  display: block;
  width: 100%;
  max-width: 672px;
  box-shadow: 0 0 100px -20px #000;
  margin: 40px auto;
}
.projects .project a {
  display: table;
  padding: 10px 20px;
  border-radius: 5px;
  margin: auto;
}
.projects .description {
  max-width: 600px;
}
.connect {
  background: teal;
}
.connect .container {
  padding: 40px 0;
}
.connect .connect-items {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.connect a {
  margin: 0 20px;
}
.connect .copyright {
  margin: 0;
}
