body {
    height: 100vh;
    background: url(../images/bg-body.png) no-repeat center;
    background-size: cover;
}

.score-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    align-items: flex-end;
    width: 160px;
    font-family: 'Courier New';
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    background: #090909;
    border: 5px solid #aae33c;
    padding: 10px 20px;
    margin: auto;
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
}

.duck {
    width: 100px;
    position: absolute;
    top: 200px;
    left: 200px;
}