.projects {
  .project {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 80px 10px;

    &:nth-child(1) {
      color: #fff;

      a {
        background: #000;
        color: #fff;
      }
    }
    &:nth-child(2) {
      color: #000;

      a {
        background: #a8d15e;
        color: #000;
      }
    }
    &:nth-child(3) {
      color: #fff;

      a {
        background: #f8b44d;
        color: #000;
      }
    }
    &:nth-child(4) {
      color: #000;

      a {
        background: #abc5f8;
        color: #000;
      }
    }
    .container {
      height: auto;
    }
    img {
      border-radius: 6px;
      box-shadow: 0 0 100px -20px #000;
      display: block;
      margin: 40px auto;
      max-width: 672px;
      width: 100%;
    }
    a {
      border-radius: 5px;
      display: table;
      margin: auto;
    }
  }
  .description {
    max-width: 600px;
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
// 1366px
@media (min-width: 1366px) {
}
