@color-1: #578099;
@color-2: #034166;
@color-3: #001d49;

body {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: #fff;
    background: #fdb812;
    transition: background 0.2s;
    will-change: background;
}

h1, h2, h3, h4, p {
    font-weight: 400;
    margin: 0 auto 10px;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

p {
    margin: 0 auto 20px;
}

a {
    display: block;
    font-weight: 700;
    text-decoration: none;
    color: @color-3;
    transition: 0.2s;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    nav {
        top: 0;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// 1366px
@media (min-width: 1366px) {
}