.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background: purple;

    .subtitle {
        font-size: 30px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// 1366px
@media (min-width: 1366px) {
    .hero {
        height: 800px;

        img {
            width: 180px;
            height: 209px;
        }
    }
}